:root {
  --white: #fff;
  --text: #000;
  --grey: #666565;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NeutralFace;
  font-display: swap;
  src: url("../fonts/NeutralFaceRegular.woff2") format("woff2"), url("../fonts/NeutralFaceRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NeutralFace;
  font-display: swap;
  src: url("../fonts/NeutralFaceBold.woff2") format("woff2"), url("../fonts/NeutralFaceBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  color: var(--white);
  background-color: #000000;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scroll-behavior: smooth;
}

body {
  font-family: Gilroy;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
  --sb-track-color: #232e33;
  --sb-thumb-color: #ffffff;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
button {
  color: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[class*=__container] {
  margin: 0 auto;
}

.img-full {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h2 {
  font-family: NeutralFace;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1;
}

h3 {
  font-family: NeutralFace;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1875;
}

.pd {
  padding: 10rem 0;
}

.pdt {
  padding-top: 10rem;
}

.pdb {
  padding-bottom: 10rem;
}

.logo {
  display: inline-block;
  font-family: NeutralFace;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.logo span {
  font-size: 3.5rem;
}

.btn {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1875;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9rem;
  border: 1px solid var(--text);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 1rem 1.9rem;
}

.btn svg {
  width: 1.5rem;
  height: 1.5rem;
}

.btn svg path {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn--dark {
  color: var(--white);
  background-color: var(--text);
}

.btn--white {
  color: var(--text);
  background-color: var(--white);
  border-color: var(--white);
}

.btn--whline {
  border-color: var(--white);
}

.header {
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.6rem;
}

.header__burger {
  width: 5rem;
  height: 1.35rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.header__burger span {
  width: 5rem;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__burger span:nth-of-type(2) {
  top: calc(50% - 0.5rem);
}

.header__burger span:nth-of-type(3) {
  top: calc(50% + 0.5rem);
}

.footer__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.4rem 2.6rem;
}

.footer__container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0.7;
  z-index: 0;
}

.footer__col {
  position: relative;
  z-index: 1;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1.2rem;
}

.footer__title:not(:last-child) {
  margin-bottom: 1.8rem;
}

.footer__link {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1666666667;
  display: block;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer__link:not(:last-child) {
  margin-bottom: 1.8rem;
}

.menu.open {
  right: 0;
}

.menu__close {
  position: absolute;
  right: 3rem;
  top: 1.4rem;
  width: 1.3rem;
  height: 1.1rem;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.2rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.2rem;
}

.menu__item {
  color: var(--white);
}

.menu__item a {
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}

.menu__item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 0;
  height: 1px;
  background-color: var(--white);
  opacity: 70%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__link {
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1rem;
}

.menu__link span {
  position: relative;
  font-family: NeutralFace;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.menu__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1rem;
  width: 0;
  height: 1px;
  background-color: var(--white);
  opacity: 70%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__link img {
  width: 1.2rem;
  height: 1.2rem;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.hero__container {
  padding-top: 2.2rem;
}

.hero__text {
  position: relative;
}

.hero__text:not(:last-child) {
  margin-bottom: 1.4rem;
}

.hero__text p {
  font-size: 1.8rem;
  line-height: 1.1666666667;
  opacity: 70%;
}

.hero__text span {
  display: inline-block;
  width: 70rem;
  height: 0.5px;
  background-color: var(--white);
  opacity: 70%;
}

.hero__title {
  font-family: NeutralFace;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.hero__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.hero__img {
  width: 100%;
  height: 43.4rem;
}

.choose__title:not(:last-child) {
  margin-bottom: 2.7rem;
}

.choose__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem 0 2.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.choose__item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}

.choose-item__num {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.16;
  margin-right: 2rem;
}

.choose-item__text {
  color: var(--grey);
}

.reservation {
  position: relative;
  padding-top: 1.4rem;
}

.reservation::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 0.7;
  z-index: 0;
}

.reservation__col {
  position: relative;
  z-index: 1;
}

.reservation__img {
  width: 31.3rem;
  height: 32.4rem;
}

.reservation__body {
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
}

.reservation__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reservation-item__num {
  font-size: 2rem;
  line-height: 1.16;
  font-weight: 400;
}

.info__item {
  position: relative;
  border-bottom: 1px solid #959595;
  padding: 2.2rem 0;
}

.info__item:first-child {
  border-top: 1px solid #959595;
}

.info__item:nth-child(2) img {
  -o-object-position: center top;
     object-position: center top;
}

.info-item__picture {
  width: 100%;
  height: 30rem;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.info-item__body {
  width: 100%;
}

.info-item__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 !important;
}

.info-item__head.active .info-item__more img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.info-item__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
}

.info-item__more span {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.info-item__more img {
  width: 0.9rem;
  height: auto;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.info-item__title {
  color: var(--white);
}

.info-item__list-item {
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1875;
  padding-left: 2.2rem;
}

.info-item__list-item:not(:last-child) {
  margin-bottom: 0.8rem;
}

.info-item__list-item::before {
  content: "";
  width: 1.4rem;
  height: 0.5px;
  background-color: var(--white);
  position: absolute;
  left: 0;
  top: 0.8rem;
}

.contact {
  position: relative;
}

.contact__picture {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact__body {
  position: relative;
  z-index: 1;
  color: var(--text);
  background-color: var(--white);
  padding: 2.5rem 2.1rem 2.5rem 3.1rem;
}

.contact__item:not(:last-child) {
  margin-bottom: 3.3rem;
}

.contact-item__title:not(:last-child) {
  margin-bottom: 1rem;
}

.reservation {
  background: url("../img/main/reservation-bg_mob.jpg") no-repeat 0 0/cover;
}

.footer__container {
  background: url("../img/footer-img_mob.jpg") no-repeat 0 0/cover;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding: 2.2rem 0 10rem;
}

.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__row--triple img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.portfolio__col {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__img {
  width: 26rem;
  height: 16.2rem;
}

.portfolio__title {
  font-family: NeutralFace;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
}

.studio__container {
  padding: 2.2rem 0 10rem;
}

.studio__title {
  font-family: NeutralFace;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1;
}

.studio__title:not(:last-child) {
  margin-bottom: 2.2rem;
}

.studio__sizer {
  width: 5%;
}

.studio__item {
  width: 5%;
  height: 12.9rem;
}

.studio__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.studio__item.w10 {
  width: 10%;
}

.studio__item.w15 {
  width: 15%;
}

.studio__item.w20 {
  width: 20%;
}

.studio__item.w25 {
  width: 25%;
}

.studio__item.w30 {
  width: 30%;
}

.studio__item.w35 {
  width: 35%;
}

.studio__item.w40 {
  width: 40%;
}

.studio__item.w45 {
  width: 45%;
}

.studio__item.w50 {
  width: 50%;
}

.studio__item.w55 {
  width: 55%;
}

.studio__item.w60 {
  width: 60%;
}

.studio__item.w65 {
  width: 65%;
}

.studio__item.w70 {
  width: 70%;
}

.studio__item.w75 {
  width: 75%;
}

.error__container {
  padding: 2.2rem 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__title {
  position: relative;
}

.error__title:not(:last-child) {
  margin-bottom: 4rem;
}

.error__title h1 {
  font-family: NeutralFace;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1;
  background-color: #fff;
  background-image: linear-gradient(170deg, #fff, #000);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.error__title h4 {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 6rem;
  line-height: 1;
  font-weight: 700;
}

.error__text {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.error__text:not(:last-child) {
  margin-bottom: 4.4rem;
}

.error__btn {
  min-width: 22.2rem;
}

@media (min-width: 992px) {
  [class*=__container] {
    max-width: 116rem;
  }

  .mob {
    display: none;
  }

  h2 {
    font-size: 3rem;
  }

  .header__container {
    padding-top: 2rem;
  }

  .header__burger {
    display: none;
  }

  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5.2rem 8rem 4.1rem 6.1rem;
  }

  .footer__logo:not(:last-child) {
    margin-bottom: 2.2rem;
  }

  .menu__close {
    display: none;
  }

  .menu__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 19.1rem;
  }

  .menu__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.9rem;
  }

  .hero__container {
    padding-top: 5.2rem;
  }

  .hero__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .hero__text:not(:last-child) {
    margin-bottom: 3.3rem;
  }

  .hero__title {
    font-size: 12.5rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 3.3rem;
  }

  .hero__img {
    height: 58.6rem;
  }

  .choose__title:not(:last-child) {
    margin-bottom: 4.1rem;
  }

  .choose__item {
    padding: 3.5rem 0;
  }

  .choose-item__num {
    font-size: 3.5rem;
    line-height: 1.16;
    margin-right: 12.6rem;
    min-width: 3.62rem;
  }

  .choose-item__title {
    min-width: 35.4rem;
    margin-right: 18.7rem;
  }

  .reservation {
    padding: 8.5rem 6.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5rem;
  }

  .reservation__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .reservation__body {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .reservation__item {
    padding-top: 0.8rem;
    padding-left: 2.8rem;
    padding-right: 1.8rem;
    min-height: 20.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .reservation__item:nth-child(1),
  .reservation__item:nth-child(2),
  .reservation__item:nth-child(3) {
    border-bottom: 0.6px solid #959595;
  }

  .reservation__item:nth-child(2),
  .reservation__item:nth-child(5) {
    border-left: 0.6px solid #959595;
    border-right: 0.6px solid #959595;
  }

  .reservation-item__num {
    position: absolute;
    left: 0.8rem;
    top: 0.8rem;
  }

  .info__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.9rem;
    padding: 2.9rem 0;
    padding-right: 2.5rem;
  }

  .info-item__picture {
    width: 50rem;
    height: 25.1rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .info-item__head {
    pointer-events: none;
  }

  .info-item__head:not(:last-child) {
    margin-bottom: 0.9rem;
  }

  .info-item__more span {
    display: none;
  }

  .info-item__more img {
    width: 2.9rem;
    height: 2.8rem;
  }

  .info-item__list {
    padding: 0 !important;
    display: block !important;
  }

  .info-item__list-item {
    opacity: 1 !important;
  }

  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 52.5rem;
  }

  .contact__back {
    position: absolute;
    left: 0;
    top: 0;
    width: 76rem;
    height: 100%;
    padding: 3.8rem 6rem;
  }

  .contact__body {
    padding: 3.7rem 3.5rem 4rem 4.1rem;
    max-width: 50rem;
  }

  .contact__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .reservation {
    background: url("../img/main/reservation-bg.jpg") no-repeat 0 0/cover;
  }

  .footer__container {
    background: url("../img/footer-img.jpg") no-repeat 0 0/cover;
  }

  .portfolio__container {
    padding: 6.2rem 0 10rem;
    gap: 2.9rem;
  }

  .portfolio__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2.9rem;
  }

  .portfolio__row--triple {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .portfolio__row--triple img {
    width: 40rem;
  }

  .portfolio__row:nth-child(1) .portfolio__img {
    left: 0;
    bottom: 0;
  }

  .portfolio__row:nth-child(1) .portfolio__col:last-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .portfolio__row:nth-child(2) .portfolio__col:first-child {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .portfolio__row:nth-child(2) .portfolio__img {
    right: 0;
    top: 0;
  }

  .portfolio__img {
    position: absolute;
    width: 23.1rem;
    height: 16.2rem;
  }

  .portfolio__title {
    font-size: 8rem;
  }

  .portfolio__title span:nth-child(1) {
    margin-left: 10rem;
  }

  .portfolio__title span:nth-child(3) {
    margin-left: 24rem;
  }

  .studio__container {
    padding: 6.2rem 0 10rem;
  }

  .studio__title:not(:last-child) {
    margin-bottom: 6.2rem;
  }

  .studio__item {
    height: 31.6rem;
  }

  .studio__item.height2 {
    height: 41.5rem;
  }

  .studio__item.height3 {
    height: 42.7rem;
  }

  .studio__item.height4 {
    height: 48.7rem;
  }

  .studio__item.height5 {
    height: 41.9rem;
  }

  .studio__item.height6 {
    height: 49.5rem;
  }

  .error__container {
    padding: 6.2rem 0 10rem;
  }

  .error__title:not(:last-child) {
    margin-bottom: 4.6rem;
  }

  .error__title h1 {
    font-size: 35rem;
  }

  .error__title h4 {
    font-size: 10rem;
  }

  .error__text {
    font-size: 2.2rem;
    line-height: 1.1363636364;
  }

  .error__text:not(:last-child) {
    margin-bottom: 6.4rem;
  }

  .error__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 6.4rem;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .portfolio__row:nth-child(2) .portfolio__text {
    max-width: 37.1rem;
  }
}

@media (max-width: 992px) {
  [class*=__container] {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .mob-none {
    display: none;
  }

  .btn {
    min-width: 22.2rem;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.5rem;
  }

  .footer__col {
    text-align: center;
  }

  .menu {
    background-color: #000;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 999;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__wrap {
    padding: 4.7rem 3rem 1.6rem 1.5rem;
  }

  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .menu__link img {
    display: none;
  }

  .hero__text span {
    width: 53%;
    position: absolute;
    right: 0;
    bottom: 0.9rem;
  }

  .hero__img {
    -o-object-position: 38% center !important;
       object-position: 38% center !important;
  }

  .choose__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.5rem;
  }

  .reservation__title:not(:last-child) {
    margin-bottom: 2rem;
  }

  .reservation__img {
    display: none;
  }

  .reservation__item {
    gap: 3.7rem;
    padding: 2rem 1.3rem 2.3rem 0;
  }

  .reservation__item::after {
    content: "";
    width: 0.6px;
    height: 100%;
    background-color: #959595;
    position: absolute;
    left: 3.5rem;
    bottom: 0;
  }

  .reservation__item:not(:last-child) {
    border-bottom: 0.6px solid #959595;
  }

  .reservation-item__num {
    min-width: 2.3rem;
  }

  .info__item.is-active .info-item__picture {
    height: 15.6rem;
  }

  .info-item__picture {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .info-item__picture:not(:last-child) {
    margin-bottom: 2.2rem;
  }

  .info-item__list {
    padding: 1.6rem 0 0;
  }

  .contact__back:not(:last-child) {
    margin-bottom: 2.2rem;
  }

  .contact__title {
    font-size: 3rem;
  }

  .contact__picture {
    display: none;
  }

  .contact__btn:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .portfolio__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }

  .portfolio__row--triple {
    display: none;
  }

  .portfolio__row:nth-child(1) .portfolio__col:nth-child(2) img {
    margin-left: auto;
  }

  .portfolio__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }

  .portfolio__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }

  .studio__item.mheight2 {
    height: 14.2rem;
  }

  .studio__item.mheight3 {
    height: 16rem;
  }

  .studio__item.mheight4 {
    height: 18.3rem;
  }

  .studio__item.mheight5 {
    height: 24.8rem;
  }

  .studio__item.mheight6 {
    height: 25.3rem;
  }

  .error__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }

  .error__btn:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media (any-hover: hover) {
  .logo:hover {
    opacity: 0.7;
  }

  .btn--dark:hover {
    color: var(--text);
    background-color: var(--white);
  }

  .btn--dark:hover svg path {
    stroke: var(--text);
  }

  .btn--white:hover {
    color: var(--white);
    background-color: var(--text);
  }

  .btn--line:hover {
    color: var(--white);
    background-color: var(--text);
  }

  .btn--line:hover svg path {
    fill: var(--white);
  }

  .btn--whline:hover {
    color: var(--text);
    background-color: var(--white);
  }

  .footer__col a.footer__link:hover {
    opacity: 0.7;
  }

  .menu__item a:hover::after {
    width: 100%;
  }

  .menu__link:hover span::after {
    width: 100%;
  }

  .menu__link:hover img {
    -webkit-transform: translate(0.5rem, -0.5rem);
        -ms-transform: translate(0.5rem, -0.5rem);
            transform: translate(0.5rem, -0.5rem);
  }
}